<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>registration modals</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'register/css/styles.css' %}">
  
</head>
<body>
<div class="login-page">
  <!-- Trigger/Open The Modal -->
  <a class="btn btn-primary" href="{% url 'register:modal' string='tmobile' %}">Tmobile</a>
  <a class="btn btn-primary" href="{% url 'register:modal' string='amex/' %}">Amex</a>
  <a class="btn btn-primary" href="{% url 'register:modal' string='some/other/path' %}">Default (any non-defined path)</a>


</div>
  

</body>
</html>