{% extends 'register/base.html' %}

{% block content %}
<button id="myBtn">Re-open Modal</button>
  <div id="myModal" class="modal">
    <div class="form">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>{{heading}}</h2>
        <p>{{subheading}}</p>
        <form class="login-form" action="{% url 'register:myView' string_path=string_path %}" method="POST">
          {% csrf_token %}

          {{user_form.as_p}}
          {{credit_card_form.as_p}}
          

 
          <button name="register">Submit</button>
     

          <p class="message">Already a subscriber? <a href="#">Sign in</a></p>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}
