{% extends 'register/base.html' %}

{% block modal_heading %}
    <h2>{{heading}}</h2>
    <p>{{subheading}}</p>
{% endblock %}
    
{% block form %}
    
  

    <form class="login-form" action="{% url 'register:myView' string_path=string_path %}" method="POST">
      {% csrf_token %}

      {{user_form.as_p}}
      {{credit_card_form.as_p}}
      

      {% block button %}
      <button>Submit</button>
      {% endblock %}

      <p class="message">Already a subscriber? <a href="#">Sign in</a></p>
    </form>

{% endblock %}